<html>
<body>

<br>
<br>
<br>
<br>
<div class="container container-table input-group input-group-sm">
  <form >
    <div class="form-group">
      <h2 style="color:#33cabb">Doctor's Profile</h2>
      <h5 style="color:#33cabb">List of all patients</h5>
    </div>

    <br>
    <p>Sort patients by:</p>
    <select class="form-control form-group" id="sort" [selectedIndex]="0" [(ngModel)]="sortBy" [ngModelOptions]="{standalone: true}">
      <option value="" label="-- Sort --" disabled selected="selected">
      </option>
      <option *ngFor="let u of users; let i = index" [value]="users[i].firstName">
        {{u.firstName}}
      </option>
      <option *ngFor="let u of users; let i = index" [value]="users[i].ssn">
        {{u.ssn}}
      </option>
    </select>

    <p align="left" style="color:#33cabb">List of all patients</p>

    <table class="table table-bordered table-striped">
      <thead class = "thead dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">SSN</th>
      </tr>

      </thead>

      <tbody>
      <tr *ngFor="let u of users; let i = index">

        <td>{{u.firstName}}</td>
        <td>{{u.ssn}}</td>

      </tr>
      <tr>
        <td>Bole</td>
        <td>1234567890123</td>
      </tr>
      <tr>
        <td>Veljko</td>
        <td>8475329875325</td>
      </tr>
      <tr>
        <td>Ana</td>
        <td>2121212121211</td>
      </tr>



      <!--Ovdje nalijepiti listu klinika iz baze -->

      </tbody>

    </table>

  </form>
</div>

</body>
</html>
