<html>
<body>
<br>
<br>
<br>

<div class="container container-table input-group input-group-sm">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2 style="color:#33cabb">Rooms</h2>
    </div>

    <div class="form-group">
      <input type="text" id="roomName" class="form-control"
             placeholder="Room Name"
             [(ngModel)]="room.name"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group">
      <input type="text" id="roomType" class="form-control"
             placeholder="Type"
             [(ngModel)]="room.type"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>
</div>

<div>
  <form>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredString" (change)="filterChange()"/>   <button class="btn-info" type="submit" (click)="filterChange()">Filter</button>
  </form>
</div>


<p align="left" style="color:#33cabb">List of all rooms</p>
<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col"></th>
  </tr>

  </thead>

  <tbody>

  <!--Ovdje nalijepiti listu soba iz baze -->
  <tr *ngFor="let r of filteredRooms">
    <td>{{r.name}}</td>
    <td>{{r.type}}</td>
    <td><button class="btn badge-danger" (click)="delete_Room2(r.id)">Delete</button></td>

  </tr>

  </tbody>

</table>




</body>
</html>
