<html>
<body>
<br>
<br>
<br>
<h2 align="center" style="color:#33cabb"> Registration approvals </h2>
<!--<div class="modal-header">
  <h5 class="modal-title">Register <b style="color: #33cabb;">new clinic</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="false">&times;</span>
  </button>
</div>

<div class="form-group input-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="text" class="form-control" name="clinicName" placeholder="Clinic Name" [(ngModel)]="clinic.clinicName"

         formControlName="clinicName">
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="text" class="form-control" name="address" placeholder="Clinic address" required="required"
         formControlName="address">
</div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" value="Add" />
  </div>-->

<div class="container container-table input-group input-group-sm">
  <form (ngSubmit)="onSubmit()" [formGroup]="angForm">
    <div class="form-group">
      <h2 style="color:#33cabb">Clinic registration</h2>
    </div>

    <div class="form-group">
      <input type="text" formControlName="clinicName" id="clinicName" class="form-control"
             placeholder="Clinic Name"
             [(ngModel)]="clinic.clinicName"/>
    </div>

    <div class="form-group">
      <input type="text" formControlName="address" id="address" class="form-control"
             placeholder="Address"
             [(ngModel)]="clinic.address"/>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success">Register</button>
    </div>
  </form>
</div>





<p align="left" style="color:#33cabb">List of all clinics</p>
<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
  </tr>

  </thead>

  <tbody>

  <!--Ovdje nalijepiti listu klinika iz baze -->
  <tr *ngFor="let clinic of clinics">
    <td>{{clinic.clinicName}}</td>
    <td>{{clinic.address}}</td>
  </tr>

  </tbody>

</table>


</body>
</html>
