<html>
<body>
<br>
<br>
<br>
<!----------OVO JE ZA DODAVANJE ADMINA, ALI SE TAKO NE ZOVE HEH-------------- -->


<div class="container container-table input-group input-group-sm">
  <form  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2 style="color:#33cabb">Clinic Admin registration</h2>
    </div>

    <div class="form-group">
      <input type="text" id="firstname" class="form-control"
             placeholder="First Name"
             [(ngModel)]="user.firstName"
             [ngModelOptions]="{standalone: true}"
              required
      />
    </div>

    <div class="form-group">
      <input type="text" id="lastname" class="form-control"
             placeholder="Last Name"
             [(ngModel)]="user.lastName"
             [ngModelOptions]="{standalone: true}"
             required
      />
    </div>

    <div class="form-group">
      <input type="text" id="ssn" class="form-control"
             placeholder="SSN"
             [(ngModel)]="user.ssn"
             [ngModelOptions]="{standalone: true}"
             required
      />
    </div>

    <div class="form-group">
      <input type="email" id="email" class="form-control"
             placeholder="Email"
             [(ngModel)]="user.email"
             [ngModelOptions]="{standalone: true}"
             required
      />
    </div>

    <div class="form-group">
      <input type="password" id="passwordca" class="form-control"
             placeholder="Password"
             [(ngModel)]="user.password"
             [ngModelOptions]="{standalone: true}"
             required
      />
    </div>

    <select class="form-control form-group" id="orders" [selectedIndex]="0" [(ngModel)]="selectedclinic" [ngModelOptions]="{standalone: true}">
    <option value="" label="-- Select clinic --" disabled selected="selected">
    </option>
      <option *ngFor="let clc of clinics; let i = index" [value]="clinics[i].clinicName">
        {{clc.clinicName}}
      </option>
    </select>


    <div class="form-group text-center">
      <button type="submit" class="btn btn-success">Add admin</button>
    </div>
  </form>
</div>

<p align="left" style="color:#33cabb">List of all clinic admins</p>

<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">Admin firstname</th>
    <th scope="col">Admin lastname</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let dr of admins; let i = index">

    <td>{{dr.firstName}}</td>
    <td>{{dr.lastName}}</td>

  </tr>
  <!--Ovdje nalijepiti listu klinika iz baze -->

  </tbody>

</table>



<div style="margin: 20px; padding: 20px">

  <div class="profile">
    <!--<div style="display: table-cell; width: auto; background-size: cover;background-image: url(assets/cliniccenter.jpg)"></div>
    <div style="display: table-cell; width: 800px;background: #ffffff; padding: 10px; position: relative">-->

</div>
  </div>

</body>

</html>
