<html>

<body>

<br>
<br>
<br>
<br>
<div class="row">
  <div class="container container-table input-group input-group-sm col" id="lijevi">
    <form>
      <div class="form-group">
        <h2 style="color:#33cabb">Doctor's Profile</h2>
        <h5 style="color:#33cabb">Booking appointments</h5>
      </div>

      <br>
      <div>
        <p>Date:</p>
        <input type="date">
      </div>

      <br>
      <div>
        <p>Start time:</p>
        <input type="time">
      </div>

      <br>
      <div>
        <p>End time:</p>
        <input type="time">
      </div>

      <br>

      <div>
        <button type="submit">Submit</button>

      </div>


    </form>
  </div>

  <div class="container container-table input-group input-group-sm col">

    <form>
      <div class="form-group">
        <h2 style="color:#33cabb">Doctor's Profile</h2>
        <h5 style="color:#33cabb">Booking surgeries</h5>
      </div>

      <br>
      <div>
        <p>Date:</p>
        <input type="date">
      </div>

      <br>
      <div>
        <p>Start time:</p>
        <input type="time">
      </div>

      <br>
      <div>
        <p>End time:</p>
        <input type="time">
      </div>

      <br>

      <div>
        <button type="submit">Submit</button>

      </div>


    </form>
  </div>
</div>
</body>
</html>
