<html>
<body>
  <title>Appointment History</title>
<br>
<br>
<br>
<br>
<div class="container container-table input-group input-group-sm">
    <mat-progress-spinner
      class="example-margin"
      style="position:fixed;left: 50%;top: 50%;width: 100px;height: 100px;margin-top:-50px;margin-left:-50px"
      [color]="color"
      [mode]="mode" *ngIf="loading">
    </mat-progress-spinner>
  <div style="width: 100%; text-align: center" *ngIf="!loading">
    <h1 style="margin-bottom: 20px;font-weight: bold;">Past Appointments and Surgeries</h1>
    <table class="table table-light" style="border-color: lightblue;border-style: solid;border-width: thick;">
      <tr>
        <th>Appointment type</th>
        <th>Doctor</th>
        <th>Clinic Name</th>
        <th>Date</th>
        <th>ReviewDoctor</th>
        <th>ReviewClinic</th>
      </tr>
      <tr *ngFor="let a of appointmentsSurgeries">
        <td>{{a.appointmentType}}</td>
        <td>{{a.doctorsName}}</td>
        <td>{{a.clinicName}}</td>
        <td>{{a.dateString}}</td>
        <td>
          <ngb-rating [(rate)]="a.doctorGrade" (rateChange)="rate(a.doctorId,null, $event)"></ngb-rating>
        </td>
        <td><ngb-rating [(rate)]="a.clinicGrade" (rateChange)="rate(null, a.clinicId, $event)"></ngb-rating></td>
      </tr>
    </table>
  </div>
  </div>
</body>
</html>


