<html>
<body>
<br>
<br>
<br>
<h2 align="center" style="color:#33cabb"> Clinic center admin profile</h2>
<form (ngSubmit)="onSubmit()">
<div class="modal-header">
  <h5 class="modal-title">Change <b style="color: #33cabb;">password</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="false">&times;</span>
  </button>
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="password" [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}" id="password" name="password" class="form-control" required placeholder="Password"
         />
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="password" [(ngModel)]="this.repeatedPassword" [ngModelOptions]="{standalone: true}" id="repeatpassword" class="form-control" required placeholder="Confirm password"
         />
</div>

<div class="modal-footer">
  <p *ngIf="!passwordsMatch">Passwords must match</p>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button [disabled]="!filled || !passwordsMatch" type="submit" class="btn btn-primary" value="Confirm">Confirm</button>
</div>
</form>
<p></p>
</body>
</html>
