<html>
<body>
<br>
<br>
<br>


<div class="container container-table input-group input-group-sm">
  <form  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2 style="color:#33cabb">Register doctor</h2>
    </div>

    <div class="form-group">
      <input type="text" id="firstnameca" class="form-control"
             [ngModelOptions]="{standalone: true}"
             placeholder="First Name"
             [(ngModel)]="user.firstName"
             required/>
    </div>

    <div class="form-group">
      <input type="text" id="lastnameca" class="form-control"
             [ngModelOptions]="{standalone: true}"
             placeholder="Last Name"
             [(ngModel)]="user.lastName"
             required/>
    </div>

    <div class="form-group">
      <input type="text" id="ssnca" class="form-control"
             [ngModelOptions]="{standalone: true}"
             placeholder="SSN"
             [(ngModel)]="user.ssn"
              required/>
    </div>

    <div class="form-group">
      <input type="email" id="emailca" class="form-control"
             [ngModelOptions]="{standalone: true}"
             placeholder="Email"
             [(ngModel)]="user.email" required />

    </div>

    <div class="form-group">


      <input type="password" id="passwordca" class="form-control"
             [ngModelOptions]="{standalone: true}"
             placeholder="Password"
             [(ngModel)]="user.password"

             required/>

    </div>
    <div class="form-group">
      <span class="text-dark text-center"> --Select clinic-- </span>
      <select class="form-control form-group" id="orders" [selectedIndex]="0" [(ngModel)]="selectedclinic" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected="selected">--Select clinic--
        </option>
        <option *ngFor="let clc of clinics; let i = index" [value]="clinics[i].clinicName">
          {{clc.clinicName}}
        </option>
      </select>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>
</div>




    <div>
      <form>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredString" (change)="filterChange()"/>   <button class="btn-info" type="submit" (click)="filterChange()">Filter</button>
      </form>


    </div>


<p align="left" style="color:#33cabb">List of all clinic doctors</p>

<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">Doctor firstname</th>
    <th scope="col">Doctor lastname</th>
    <th scope="col"></th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let dr of filteredDoctors; let i = index">

    <td>{{dr.firstName}}</td>
    <td>{{dr.lastName}}</td>
    <td><button class="btn badge-danger" (click)="delete_Doctor(dr.email)">Delete</button></td>


  </tr>

  </tbody>

</table>
</body>
</html>

