<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<head>
  <meta charset="utf-8">
  <link rel='icon' href='h.ico' type='image/x-icon'/>
  <title></title>


</head>
<!-- Toolbar -->
<body>

<div *ngIf="someoneLoged">

  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Clinical center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" hidden="true">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" hidden="true">
          <a class="nav-link" routerLink="/registration">Registration</a>
        </li>
        <li class="nav-item" *ngIf="ccadminloged">
         <a class="nav-link" routerLink="/requests">Requests</a>
        </li>
        <li class="nav-item" *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/ccadmin">Register Clinic Admin</a>
        </li>
        <li class="nav-item" *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/registerClinic">Register clinic</a>
        </li>
        <li class="nav-item"  *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/ccadminInfo">CCA Profile</a>
        </li>
        <li class="nav-item"  *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/newCCA">New CCA</a>
        </li>
        <li class="nav-item"  *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/ccadminPass">Change Password</a>
        </li>
        <li class="nav-item" *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/ccadminDrug">Add drug</a>
        </li>

        <!--Staff-->
        <li class="nav-item" *ngIf="ccadminloged">
          <a class="nav-link" routerLink="/editStaff">Edit staff's info</a>
        </li>
        <!--Patient-->
        <li class="nav-item" *ngIf="patientloged">
          <a class="nav-link" routerLink="/selectClinic">Select clinic</a>
        </li>
        <li class="nav-item" *ngIf="patientloged">
          <a class="nav-link" routerLink="/historyPatient">History of examination</a>
        </li>
        <!--Doctor-->
        <li class="nav-item" *ngIf="doctorloged">
          <a class="nav-link" routerLink="/workCalendar">Work Calendar</a>
        </li>
        <li class="nav-item" *ngIf="doctorloged">
          <a class="nav-link" routerLink="/holidayAbsence">Holiday/Absence</a>
        </li>
        <li class="nav-item" *ngIf="doctorloged">
          <a class="nav-link" routerLink="/dar">Show Patients</a>
        </li>

        <li class="nav-item" *ngIf="doctorloged">
        <a class="nav-link" routerLink="/booking">Booking</a>
      </li>
        <li class="nav-item" *ngIf="doctorloged">
          <a class="nav-link" routerLink="/listOfPatients">All Patients</a>
        </li>

        <li class="nav-item">
          <a (click)="logout()" class="nav-link" routerLink="/">Logout</a>
        </li>



      </ul>
    </div>
  </nav>
</div>

<div *ngIf="someoneLoged && homepage">
  <br>
  <br>
  <br>
  <br>
<h2 class="text-center text-dark">WELCOME, {{ulogovanifirstName}}</h2>
  <br><h3 class="text-center text-dark">Homepage under construction</h3>
</div>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Log in form-->
<div id="loginform"  *ngIf="loginShow && !someoneLoged">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form"  class="form" (ngSubmit)="onSubmit()">
            <h3 class="text-center text-info">Login</h3>
            <div class="form-group">
              <label class="text-info">Email:</label><br>
              <input type="text" name="email" id="logemail" class="form-control" [(ngModel)]="logemail" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group">
              <label class="text-info">Password:</label><br>
              <input type="password" name="password" id="logpassword" [(ngModel)]="logpassword" [ngModelOptions]="{standalone:true}" class="form-control">
            </div>
            <div class="form-group">

              <button type="submit" name="submitlogin" class="btn btn-info btn-md" value="Log in"> Log In </button>
            </div>
            <div id="register-link" class="text-right">
              <button role="button" (click)="showRegistration()" class="text-info">Register here</button>
            </div>
          </form>
          <div>
            <p *ngIf="activateinfo" class="text-danger">Please, activate your account before login!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Registration form-->
<div class="container register" id="signUpForm" *ngIf="registrationShow && !someoneLoged">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p></p>
      <button class="btn btn-success" (click)="showLogin()" role="button" name="" value="Login">Go to Log in</button><br/>
    </div>
    <div class="col-md-9 register-right">
      <form (ngSubmit)="onSubmit2()" [formGroup]="angForm">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Register as a Patient</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="firstname" placeholder="First Name *" value=""
                       [(ngModel)]="user1.firstName"
                       [ngClass]="{'is-invalid': (f.firstname.dirty || f.firstname.touched) && f.firstname.errors, 'is-valid': (f.firstname.dirty || f.firstname.touched) && f.firstname.valid}"/>
                <span class="text-danger" *ngIf="f.firstname.errors && (f.firstname.dirty || f.firstname.touched)"> First name is required </span>

              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name *" value=""
                       [(ngModel)]="user1.lastName"
                       [ngClass]="{'is-invalid': (f.lastname.dirty || f.lastname.touched) && f.lastname.errors, 'is-valid': (f.lastname.dirty || f.lastname.touched) && f.lastname.valid}"
                />
                <span class="text-danger" *ngIf="f.lastname.errors && (f.lastname.dirty || f.lastname.touched)">Last name is required</span>

              </div>
              <div class="form-group">
                <input type="password" class="form-control"  formControlName="password" placeholder="Password *" value=""
                       [(ngModel)]="user1.password"
                       [ngClass]="{'is-invalid': (f.password.dirty || f.password.touched) && f.password.errors, 'is-valid': (f.password.dirty || f.password.touched) && f.password.valid}"
                />
                <span class="text-danger" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">Password must contains minimum 6 charachters</span>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="repeatpassword" placeholder="Confirm Password *" value=""
                       [(ngModel)]="repeatedPassword"
                       [ngClass]="{'is-invalid': (f.repeatpassword.dirty || f.repeatpassword.touched) && checkPassword, 'is-valid': (f.repeatpassword.dirty || f.repeatpassword.touched) && f.repeatpassword.valid && !checkPassword}"

                />
                <span class="text-danger" *ngIf="(f.repeatpassword.dirty || f.repeatpassword.touched) && checkPassword">Passwords must match</span>
              </div>
              <div class="form-group"></div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Your Email *"
                       [(ngModel)]="user1.email"
                       [ngClass]="{'is-invalid': (f.email.dirty || f.email.touched) && f.email.errors, 'is-valid': (f.email.dirty || f.email.touched) && f.email.valid}"
               /> <span class="text-danger" *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">Email must be a valid email address</span>


              </div>
              <div class="form-group">
                <input type="text"  name="txtEmpPhone" formControlName="phonenumber" class="form-control" pattern="[0-9]+" placeholder="Your Phone *" value=""
                       [(ngModel)]="user1.phoneNumber"
                       [ngClass]="{'is-invalid': (f.phonenumber.dirty || f.phonenumber.touched) && f.phonenumber.errors, 'is-valid': (f.phonenumber.dirty || f.phonenumber.touched) && f.phonenumber.valid}"
                />
                <span class="text-danger" *ngIf="f.phonenumber.errors && (f.phonenumber.dirty || f.phonenumber.touched)">Phone number must contains 9 or 10 digits</span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="ssn" name="ssn" class="form-control" pattern="[0-9]+" placeholder="SSN *" required
                       [(ngModel)]="user1.ssn"
                       [ngClass]="{'is-invalid': (f.ssn.dirty || f.ssn.touched) && f.ssn.errors, 'is-valid': (f.ssn.dirty || f.ssn.touched) && f.ssn.valid}"
                />
                <span class="text-danger" *ngIf="f.ssn.errors && (f.ssn.dirty || f.ssn.touched)">SSN must containts 13 digits</span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="address" class="form-control" placeholder="Enter Your Address *"
                       [(ngModel)]="user1.address"
                       [ngClass]="{'is-invalid': (f.address.dirty || f.address.touched) && f.address.errors, 'is-valid': (f.address.dirty || f.address.touched) && f.address.valid}"/>
                <span class="text-danger" *ngIf="f.address.errors && (f.address.dirty || f.address.touched)">Address is required</span>
              </div>

              <button [disabled]="angForm.invalid || angForm.pristine || checkPassword" type="subbmit" class="btnRegister"> Sign Up </button>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>

</div>

</body>
</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>

