<html>
<body>
<title>Browse Clinics</title>
<br>
<br>
<br>
<div class="container container-table input-group input-group-sm">
  <mat-progress-spinner
    class="example-margin"
    style="position:fixed;left: 50%;top: 50%;width: 100px;height: 100px;margin-top:-50px;margin-left:-50px"
    [color]="color"
    [mode]="mode" *ngIf="loading">
  </mat-progress-spinner>
  <div style="width: 100%; text-align: center;margin-bottom: 30px;" *ngIf="!loading">
    <h1 style="margin-bottom: 20px;font-weight: bold;">Clinics</h1>
    <form>
      <input style="border-radius: 5px;border-style: groove;margin-right: 15px;" placeholder="Clinic Name"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredStringClinic"  (change)="filterClinic()"/>
      <input style="border-radius: 5px;border-style: groove;margin-right: 15px;" placeholder="Minimum rating"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredStringClinicRating"  (change)="filterClinic()"/>
      <input style="border-radius: 5px;border-style: groove;margin-right: 15px;" placeholder="Country"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredStringClinicCountry"  (change)="filterClinic()"/>
      <input style="border-radius: 5px;border-style: groove;margin-right: 15px;" placeholder="City"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredStringClinicCity"  (change)="filterClinic()"/>
      <button style="border-radius: 5px;" class="btn-info" type="submit">Filter</button>
    </form>
  </div>

  <div style="width: 1000px; text-align: center;margin:auto;margin-bottom: 30px" *ngIf="!loading">

    <!-- SAMO FILTRIRANE KLINIKE CE BITI -->
    <table class="table table-light" style="margin:auto; border-color: lightblue;border-style: solid;border-width: thick;">
      <thead class = "thead dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="colgroup">Rating</th>
        <th></th>
      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let clinic of filteredClinicsByField">
        <td style="vertical-align: middle">{{clinic.clinicName}}</td>
        <td style="vertical-align: middle">{{clinic.country}}</td>
        <td style="vertical-align: middle">{{clinic.city}}</td>
        <td style="vertical-align: middle">{{clinic.address}}</td>
        <td style="vertical-align: middle">{{clinic.rating}}</td>
        <td style="vertical-align: middle">
          <button class="btn badge-success" (click)="fullProfile(clinic.id)">Full Profile</button>
        </td>
      </tr>

      </tbody>

    </table>
  </div>
  <div style="width: 1000px; text-align: center;margin:auto;margin-bottom: 30px" *ngIf="profile">

    <h1 style="margin-bottom: 20px;font-weight: bold;">{{clinic.clinicName}}</h1>
    <div style="text-align: center; margin-bottom: 20px">
      <label style="float:left">{{clinic.address}}</label>
      <label style="float:right">Rating: {{clinic.rating}}</label>
    </div>
    <div>
      <label>{{clinic.description}}</label>
    </div>

    <div *ngIf="showDoctors">
      <h1 style="margin-bottom: 20px;margin-top: 20px;font-weight: bold;">Doctors</h1>
      <table style="width: 900px" class="table table-bordered table-striped">
        <thead class = "thead dark">
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dr of filterDoctorsByField; let i = index">
            <td style="vertical-align: middle">{{dr.firstName}}</td>
            <td style="vertical-align: middle">{{dr.lastName}}</td>
            <td style="vertical-align: middle">{{dr.rating}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div  *ngIf="showAppointments">
      <h1 style="margin-bottom: 20px;margin-top: 20px;font-weight: bold;">Predefined Appointments</h1>
      <table style="width: 900px" class="table table-bordered table-striped">
        <thead class = "thead dark">
        <tr>
          <th scope="col">Appointment Type</th>
          <th scope="col">Doctor</th>
          <th scope="col">Price</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let a of filteredAppointments; let i = index">
          <td style="vertical-align: middle">{{a.appointmentType}}</td>
          <td style="vertical-align: middle">{{a.doctorsName}}</td>
          <td style="vertical-align: middle">{{a.price}}</td>
          <td style="vertical-align: middle">
            <button class="btn btn-success" (click)="bookAppointment(a.id)">Book</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>

