<html>
<body>

<br>
<br>
<div class="container container-table input-group input-group-sm">
  <form >
    <div class="form-group">
      <h2 style="color:#33cabb">Doctor's Profile</h2>
      <h5 style="color:#33cabb">Holiday/Absence requests</h5>
    </div>

    <!--Ogranici da mogu samo sestre i doktori-->
    <p>Type of staff:</p>
    <select class="form-control form-group" id="type" [selectedIndex]="0" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
      <option value="" label="-- Choose which type --" disabled selected="selected">
      </option>
      <option *ngFor="let us of users; let i = index" [value]="users[i].role">
        {{us.role}}
      </option>

    </select>

    <div>
      <p>Start date: </p>
      <input type="date" >
    </div>

    <br>

    <div>
      <p>End date: </p>
      <input type="date" >
    </div>

    <br>

    <div class="form-group text-center align-content-center">
      <button type="submit">Submit</button>
    </div>

    <br>

    <p align="left" style="color:#33cabb"   >Pending requests for holiday and absence </p>
    <table class="table table-bordered table-striped">
      <thead class = "thead dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
      </tr>

      </thead>

    </table>

    <p align="left" style="color:#33cabb">Approved requests for holiday and absence </p>
    <table class="table table-bordered table-striped">
      <thead class = "thead dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
      </tr>

      </thead>

    </table>

  </form>
</div>


</body>


</html>
