<html>
<body>
<br>
<br>
<br>
<h2 align="center" style="color:#33cabb"> Add items </h2>
<div class="modal-header">
  <h5 class="modal-title">Add <b style="color: #33cabb;">new drug code</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="false">&times;</span>
  </button>
</div>
<form (ngSubmit)="onSubmit()">
<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="text" class="form-control" name="drugName" placeholder="Drug Name" required="required"
         [(ngModel)]="drug.drugName" [ngModelOptions]="{standalone: true}" />
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="text" class="form-control" name="description" placeholder="Description" required="required"
         [(ngModel)]="drug.description" [ngModelOptions]="{standalone: true}" />
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
  </div>
  <input type="number" class="form-control" name="price" placeholder="Price" required="required"
        [(ngModel)]="drug.price" [ngModelOptions]="{standalone: true}"/>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button [disabled]="isEmpty" type="submit" class="btn btn-primary" value="Add">Add drug</button>
</div>
</form>
<p align="left" style="color:#33cabb">List of all drugs</p>
<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
  </tr>

  </thead>

  <tbody>

  <!--Ovdje nalijepiti listu klinika iz baze -->
  <tr *ngFor="let dr of drugs; let i = index">

    <td>{{dr.drugName}}</td>
    <td>{{dr.description}}</td>
    <td>{{dr.price}} $</td>

  </tr>
  </tbody>

</table>
</body>
</html>
