<html>
<body>
<br>
<br>
<br>
<h2 align="center" style="color:#33cabb"> Profile page</h2>

<div class="split left">
  <form>
    <div class="form-group">
      <h5 class="modal-title">Change <b style="color: #33cabb;">admin's personal info</b></h5>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">First Name</i>
          </span>
      </div>
      <input type="text" [ngModelOptions]="{standalone: true}" id="firstname" class="form-control"
             placeholder="{{user1.firstName}}"
             [(ngModel)]="user.firstName"/>
    </div>


    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" >Last Name</i>
          </span>
      </div>
      <input  type="text" id="lastname" class="form-control" required
      placeholder="{{user1.lastName}}"             [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" >Email</i>
          </span>
      </div>
      <input type="text" [ngModelOptions]="{standalone: true}" id="email" class="form-control input-sm" required placeholder="{{user1.email}}"
             [(ngModel)]="user.email"/>
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">Address</i>
          </span>
      </div>
      <input type="text" [ngModelOptions]="{standalone: true}" id="address" class="form-control" required placeholder="{{user1.address}}"
             [(ngModel)]="user.address"/>
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">SSN</i>
          </span>
      </div>
      <input type="text" [ngModelOptions]="{standalone: true}" id="ssn" class="form-control" required placeholder="{{user1.ssn}}"
             [(ngModel)]="user.ssn"/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-primary" value="Add" />
    </div>

  </form>
</div>
</body>
</html>
