<!--IZMJENA PODATAKA ZA OSOBLJE-->

<html>
<body>
<br>
<br>
<br>
<br>
<h2 align="center" style="color:#33cabb"> Edit staff personal information</h2>

<div class="split left">
  <form>
    <div class="form-group">
      <h5 class="modal-title">Edit <b style="color: #33cabb;">staff's personal information</b></h5>
    </div>

    <!--<div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
      </div>
      <input type="text" formControlName="firstname" id="firstname" class="form-control"
             placeholder="First Name"/>
    </div>


    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
      </div>
      <input formControlName="lastname" type="text" id="lastname" class="form-control" required placeholder="Last Name"/>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
      </div>
      <input type="text"  id="city" class="form-control input-sm" required placeholder="City"/>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-primary" value="Edit" />
    </div>
    -->

    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users; let i = index">
        <td contenteditable="true">{{user.firstName}}</td>
        <td contenteditable="true">{{user.lastName}}</td>
        <td contenteditable="true">{{user.email}}</td>
        <td><button type="submit">Edit</button></td>
      </tr>
    </table>

  </form>
</div>
</body>
</html>

