<html>
<body>
<br>
<br>
<br>


<h1 style="color:#33cabb" align="center">Clinic profile info</h1>


<div class="container">
  <h3 style="color:#33cabb">Clinic Name</h3>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
  </form>
</div>
</body>
</html>

<!--
<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">Clinic Name</i>
          </span>
  </div>
  <input type="text" [ngModelOptions]="{standalone: true}" id="newName" class="form-control"
         placeholder="{{clinic.clinicName}}"
         [(ngModel)]="this.newName"/>
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">Address</i>
          </span>
  </div>
  <input type="text" [ngModelOptions]="{standalone: true}" id="address" class="form-control" required placeholder="{{clinic.address}}"
         [(ngModel)]="clinic.address"/>
</div>

<div class="input-group form-group">
  <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-address-book">Description</i>
          </span>
  </div>
  <input type="text" [ngModelOptions]="{standalone: true}" id="description" class="form-control" required placeholder="{{clinic.description}}"
         [(ngModel)]="clinic.description"/>
</div>

    -->
